* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;

}

body {
    width: 100%;
    height: 100vh;
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

main {
    margin: 15px;
    width: 300px;
    margin-top: 10%;
}

#boxPesquisar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%
}

#pokemon {
    width: 270px;
    height: 20px;
}

#pesquisar {
    width: 20px;
    height: 20px;
}

#pesquisar img {
    width: 16px;
    height: 16px;
}

#box {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
}

#boxImgPokemon {
    width: 300px;
    height: 100px;
    position: relative;
}

#boxImgPokemon img {
    width: 90px;
}

#circulo {
    width: 300px;
    height: 70px;
    background-color: white;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    position: absolute;
    box-shadow: 0 3px 7px white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#id_pokemon {
    position: absolute;
    right: -5%;
    top: -10%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    width: 30px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ccc;

}

#img_pokemon {
    position: absolute;
    bottom: 0;
    left: 36.5%;
}

#boxInfoPokemon {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}

#boxInfoPokemon p {
    display: flex;
    width: 300px;
    justify-content: space-between;
    padding: 3px 10px;
}

#nome_pokemon {
    margin: 0 auto;
    font-size: xx-large;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.infoPokesTexto, .infoPokesDados {
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.infoPokesTexto {}

.infoPokesDados {}

#hpDados {}

#ataqueDados {}

#defesaDados {}

#velocidadeDados {}


#boxTipoPokemon {
    width: 300px;
    height: 50px;
    background-color: white;
    display: flex;
    position: relative;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#titulo-tipo {
    position: absolute;
    top: -10px;
    left: 10px;
    padding: 5px;
    background-color: black;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
}

#tipo_poke {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;

}

.footer {
    bottom: 0px;
    background-color: #d6d6d6;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer_text {
    padding-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.redes {
    padding-bottom: 10px;
}
